:root {
  --palette-color-1: #e5fcc2;
  --palette-color-2: #9de0ad;
  --palette-color-3: #45ada8;
  --palette-color-4: #547980;
  --palette-color-5: #594f4f;
  --palette-color-5-mild: hsla(0, 0%, 90%, 0.1);
}
