:root {
  --palette-color-1: #E5FCC2;
  --palette-color-2: #9DE0AD;
  --palette-color-3: #45ADA8;
  --palette-color-4: #547980;
  --palette-color-5: #594F4F;
  --palette-color-5-mild: hsla(0, 0%, 90%, 0.1);
}
