repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-yaml
        exclude: mkdocs.yml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/prettier/prettier
    rev: 2.1.2
    hooks:
      - id: prettier

  - repo: https://gitlab.com/donaldrich/function-as-a-container
    rev: master
    hooks:
      # - id: shell-lint-shellcheck
      #   stages: [commit]
      # - id: shell-lint-shfmt
      #   stages: [commit]
      #   verbose: true
      # - id: shell-lint-bashate
      #   stages: [commit]
      #   verbose: true
      - id: secrets-detect-secrets
        stages: [commit]
      - id: secrets-gitleaks
        stages: [commit]
      - id: yaml-lint-yamllint
        stages: [commit]
      - id: docker-hadolint
        exclude: Dockerfile.tmpl.*
