repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-yaml
        exclude: mkdocs.yml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier

  # - repo: https://gitlab.com/donaldrich/function-as-a-container
  #   rev: v2.7.1
  #   hooks:
  # - id: shell-shellcheck
  #   stages: [commit]
  # - id: shell-shfmt
  #   stages: [commit]
  #   verbose: true
  # - id: shell-bashate
  #   stages: [commit]
  #   verbose: true
  # - id: secrets-detect-secrets
  #   stages: [commit]
  # - id: secrets-gitleaks
  #   stages: [commit]
  # - id: yaml-yamllint
  #   stages: [commit]
  # - id: docker-hadolint
  #   exclude: Dockerfile.tmpl.*
