builder:ruby:
  stage: build
  trigger:
    include: .meta/pipeline/builder/ruby/build.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
      - "builder/ruby/Dockerfile"
      - "builder/ruby/goss.yaml"
      - "builder/ruby/tusk.yml"
      when: on_success
    - if: '$TRIGGER_VAR1 == "all"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "builder" && $TRIGGER_VAR2 == "ruby"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "builder" && $TRIGGER_VAR2 == "all"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success