include:
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/pushover/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/docker/default.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/healthchecks/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/lint/docker.yml

build:docz:latest:
  extends:
    - .dockerhub:monoarch:push

stages:
  - debug
  - lint
  - dependency
  - build
  - test
  - push
  - documentation
  - notify

variables:
  DOCKER_BUILD_DIR: site-gen/docz
  IMAGE_NAME: docz
  IMAGE_TAG: latest
  DOCKERFILE: Dockerfile
  DOCKER_BUILD_CONTEXT: site-gen/docz
  PUSHOVER_ID: $IMAGE_NAME:$IMAGE_TAG

docs:docz:latest:
  image:
    name: donaldrich/docker:latest
    entrypoint: [""]
  services:
    - name: docker:stable-dind
#      command: ["--experimental"]
  retry: 2
  stage: documentation
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: /certs/client
    DOCKER_TLS_CERTDIR: /certs
  script:
    - docker pull donaldrich/docz:latest
    - docker run --rm donaldrich/docz:latest config > $CI_PROJECT_DIR/.meta/snippets/config/docz-latest.md || true
    - docker run --rm donaldrich/docz:latest validate > $CI_PROJECT_DIR/.meta/snippets/version/docz-latest.md || true
    - docker image inspect donaldrich/docz:latest | jq . > $CI_PROJECT_DIR/.meta/snippets/image-info/docz-latest.md
    - docker history donaldrich/docz:latest > $CI_PROJECT_DIR/.meta/snippets/layers/docz-latest.md || true

