include:
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/pushover/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/docker/default.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/healthchecks/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/lint/docker.yml

build:builder:python:
  extends:
    - .dockerhub:monoarch:push

stages:
  - debug
  - lint
  - dependency
  - build
  - test
  - push
  - documentation
  - notify

variables:
  DOCKER_BUILD_DIR: builder/python
  IMAGE_NAME: builder
  IMAGE_TAG: python
  DOCKERFILE: Dockerfile
  DOCKER_BUILD_CONTEXT: builder/python
  PUSHOVER_ID: $IMAGE_NAME:$IMAGE_TAG
