builder:python:
  stage: build
  trigger:
    include: .meta/pipeline/builder/python/build.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
      - "builder/python/Dockerfile"
      - "builder/python/goss.yaml"
      - "builder/python/tusk.yml"
      when: on_success
    - if: '$TRIGGER_VAR1 == "all"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "builder" && $TRIGGER_VAR2 == "python"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "builder" && $TRIGGER_VAR2 == "all"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success
