hexo:slim:
  stage: build
  trigger:
    include: .meta/pipeline/site-gen/hexo/slim/build.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
      - "site-gen/hexo/slim/Dockerfile"
      - "site-gen/hexo/slim/goss.yaml"
      - "site-gen/hexo/slim/tusk.yml"
      when: on_success
    - if: '$TRIGGER_VAR1 == "all"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "hexo" && $TRIGGER_VAR2 == "slim"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "hexo" && $TRIGGER_VAR2 == "all"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success