include:
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/pushover/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/docker/default.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/healthchecks/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/lint/docker.yml

build:packer:arm:
  extends:
    - .dockerhub:monoarch:push

stages:
  - debug
  - lint
  - dependency
  - build
  - test
  - push
  - documentation
  - notify

variables:
  DOCKER_BUILD_DIR: hashicorp/packer/arm
  IMAGE_NAME: packer
  IMAGE_TAG: arm
  DOCKERFILE: Dockerfile
  DOCKER_BUILD_CONTEXT: hashicorp/packer/arm
  PUSHOVER_ID: $IMAGE_NAME:$IMAGE_TAG

docs:packer:arm:
  image:
    name: donaldrich/docker:latest
    entrypoint: [""]
  services:
    - name: docker:stable-dind
#      command: ["--experimental"]
  retry: 2
  stage: documentation
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: /certs/client
    DOCKER_TLS_CERTDIR: /certs
  script:
    - docker pull donaldrich/packer:arm
    - docker run --rm donaldrich/packer:arm config > $CI_PROJECT_DIR/.meta/snippets/config/packer-arm.md || true
    - docker run --rm donaldrich/packer:arm validate > $CI_PROJECT_DIR/.meta/snippets/version/packer-arm.md || true
    - docker image inspect donaldrich/packer:arm | jq . > $CI_PROJECT_DIR/.meta/snippets/image-info/packer-arm.md
    - docker history donaldrich/packer:arm > $CI_PROJECT_DIR/.meta/snippets/layers/packer-arm.md || true
