{{- if has (datasource "data") "gossfile" }}
{{- template "gossfile" -}}
{{- end }}

{{- if has (datasource "data") "packages" }}
{{- template "packages" -}}
{{- end }}

{{- if has (datasource "data") "commands" }}
{{- template "commands" -}}
{{- end }}

{{- if has (datasource "data") "user" }}
{{- template "user" -}}
{{- end }}

{{- define "gossfile" }}
gossfile:
{{- range $i, $e := (datasource "data").gossfile }}
  {{ $i }}: {}
{{- end }}
{{- end }}

{{- define "packages" }}
package:
{{- range $i, $e := (datasource "data").packages }}
  {{ $i }}:
    installed: true
{{- end }}
{{- end }}

{{- define "commands" }}
command:
{{- range $i, $e := (datasource "data").commands }}
{{- if has $e "timeout" }}
  {{ $i }}:
    exit-status: 0
    exec: "{{ .prefix }} {{ .version }}"
    timeout: {{ .timeout }}
{{- else }}
  {{ $i }}:
    exit-status: 0
    exec: "{{ .prefix }} {{ .version }}"
{{- end }}


{{- end }}
{{- end }}

{{- define "user" }}
{{- end }}
