{{ (datasource "data").image.name }}:{{ (datasource "data").image.tag }}:
  stage: build
  trigger:
    include: .meta/pipeline/{{ (datasource "path").path }}/build.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
      - "{{ (datasource "path").path }}/Dockerfile"
      - "{{ (datasource "path").path }}/goss.yaml"
      - "{{ (datasource "path").path }}/tusk.yml"
      when: on_success
    - if: '$TRIGGER_VAR1 == "all"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "{{ (datasource "data").image.name }}" && $TRIGGER_VAR2 == "{{ (datasource "data").image.tag }}"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "{{ (datasource "data").image.name }}" && $TRIGGER_VAR2 == "all"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success