include:
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/pushover/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/docker/default.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/healthchecks/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/lint/docker.yml

build:builder:rust:
  extends:
    - .dockerhub:monoarch:push

stages:
  - debug
  - lint
  - dependency
  - build
  - test
  - push
  - documentation
  - notify

variables:
  DOCKER_BUILD_DIR: builder/rust
  IMAGE_NAME: builder
  IMAGE_TAG: rust
  DOCKERFILE: Dockerfile
  DOCKER_BUILD_CONTEXT: builder/rust
  PUSHOVER_ID: $IMAGE_NAME:$IMAGE_TAG

docs:builder:rust:
  image:
    name: donaldrich/docker:latest
    entrypoint: [""]
  services:
    - name: docker:stable-dind
#      command: ["--experimental"]
  retry: 2
  stage: documentation
  script:
    - docker pull donaldrich/builder:rust
    - docker run --rm donaldrich/builder:rust config > $CI_PROJECT_DIR/.meta/snippets/config/builder-rust.md || true
    - docker run --rm donaldrich/builder:rust validate > $CI_PROJECT_DIR/.meta/snippets/version/builder-rust.md || true
    - docker image inspect donaldrich/builder:rust | jq . > $CI_PROJECT_DIR/.meta/snippets/image-info/builder-rust.md
    - docker history donaldrich/builder:rust > $CI_PROJECT_DIR/.meta/snippets/layers/builder-rust.md || true

