builder:rust:
  stage: build
  trigger:
    include: .meta/pipeline/builder/rust/build.gitlab-ci.yml
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
        - "builder/rust/Dockerfile"
        - "builder/rust/goss.yaml"
        - "builder/rust/tusk.yml"
      when: on_success
    - if: '$TRIGGER_VAR1 == "all"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "builder" && $TRIGGER_VAR2 == "rust"'
      when: on_success
    - if: '$TRIGGER_VAR1 == "builder" && $TRIGGER_VAR2 == "all"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success
