include:
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/pushover/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/docker/default.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/notifications/healthchecks/docker-build.yml
  - project: donaldrich/modular-gitlab-ci
    file: function/lint/docker.yml

build:base:python-slim:
  extends:
    - .dockerhub:monoarch:push

stages:
  - debug
  - lint
  - dependency
  - build
  - test
  - push
  - documentation
  - notify

variables:
  DOCKER_BUILD_DIR: base/python/slim
  IMAGE_NAME: base
  IMAGE_TAG: python-slim
  DOCKERFILE: Dockerfile
  DOCKER_BUILD_CONTEXT: base/python/slim
  PUSHOVER_ID: $IMAGE_NAME:$IMAGE_TAG

docs:base:python-slim:
  image:
    name: donaldrich/docker:latest
    entrypoint: [""]
  services:
    - name: docker:stable-dind
#      command: ["--experimental"]
  retry: 2
  stage: documentation
  script:
    - docker pull donaldrich/base:python-slim
    - docker run --rm donaldrich/base:python-slim config > $CI_PROJECT_DIR/.meta/snippets/config/base-python-slim.md || true
    - docker run --rm donaldrich/base:python-slim validate > $CI_PROJECT_DIR/.meta/snippets/version/base-python-slim.md || true
    - docker image inspect donaldrich/base:python-slim | jq . > $CI_PROJECT_DIR/.meta/snippets/image-info/base-python-slim.md
    - docker history donaldrich/base:python-slim > $CI_PROJECT_DIR/.meta/snippets/layers/base-python-slim.md || true

